# sphenix external dir
working/

# install
install/

# for dstlists
*.list

# for root files
*.root

# for plots
*.png
*.pdf
*.jpg 
*.log

# condor logs
*.err
*.out
log/
logs/


Makefile.in
autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
stamp-h1
config.guess
config.sub
ltmain.sh

build/

.vscode
._*


*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


*.la
*.a
*.lib
*.pcm
*_Dict.cc
*.status

# Executables
*.exe
*.out
*.app

